@media (max-width: 375px) {
    .container {
        grid-template-columns: 1fr;
        width: 88%;
        margin: 4rem auto 2rem auto;
    }

    .section {
        padding: 3rem;
    }

    .title {
        font-size: 1.2em;
    }

    .text {
        margin: auto;
    }

    .attribution {
        position: relative;
    }
}